.root {
  width: 100%;
  height: 0.5em;
  background: var(--color-grey-lighter);
  overflow: hidden;
  border-radius: 1em;
}

.bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  background: var(--color-grey);
  border-radius: 1em;
}

.low {
  background: var(--color-red);
}

.medium {
  background: var(--color-orange);
}

.high {
  background: var(--color-green);
}

/* White variant */
.white.root {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px white;
}
.white .bar {
  background: white;
}
