.container {
  box-shadow: inset 0 0 0 1px var(--color-grey-lighter);
  background: var(--color-white);
  transition: all 300ms ease;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  min-width: 12em;
  width: 100%;
}

.label {
  color: var(--color-grey-light);
  padding: 0.75em;
  display: block;
}

.input {
  composes: legacy_textarea textarea from '../../globals/reset.css';
  color: var(--color-black);
  display: block;
  padding: 0.5em;
  border: none;
  width: 100%;
}

.input:focus {
  border-color: var(--color-primary);
  outline: 0;
}
.message {
  background: var(--color-error);
  transition: all 200ms ease;
  padding: 0em 0.5em;
  position: absolute;
  min-height: 0;
  color: white;
  width: 100%;
  left: 0;
}
.messageError {
  border-radius: 0 0 4px 4px;
  min-height: 1.5em;
}

.containerActive {}

.containerFocus {
  box-shadow: inset 0 0 0 1px var(--color-primary), 0 0 2px color(var(--color-primary) l(70%));
}

.containerError {
  box-shadow: inset 0 0 0 1px var(--color-error);
  border-radius: 4px 4px 0 0;
  margin-bottom: 2em;
}

.containerError .label,
.containerError .input {
  color: var(--color-error);
}

/* Default label outside variant */
.labelOutside {
  margin-top: 1.5em;
}
.labelOutside .label {
  transition: all 250ms var(--easeoutback);
  transform-origin: left bottom;
  position: absolute;
  top: -0.25em;
  left: 0;
}
.containerActive.labelOutside .label {
  transform: scale(0.8) translate(-0.75em, -2.7em);
  color: var(--color-grey-light);
  border-radius: 0 0 4px 4px;
}
.containerFocus.labelOutside .label {
  color: var(--color-primary);
}

/* Label inside variant */
.labelInside {
  display: table;
}
.labelInside .label {
  color: var(--color-primary);
  vertical-align: middle;
  display: table-cell;
  padding: 0.5em;
  width: 5em;
}
.labelInside input {
  vertical-align: middle;
  display: table-cell;
  padding-right: 0;
  padding-left: 0;
}

/* Borderless */
.borderless {
  box-shadow: none;
}
.borderless .label {
  padding-left: 0;
}
