.container {
  box-shadow: inset 0 0 0 1px var(--color-grey-lighter);
  background: var(--color-white);
  transition: all 200ms ease;
  position: relative;
  border-radius: 4px;
  min-width: 12em;
  width: 100%;
}

.label {
  color: var(--color-grey-light);
  padding: 0.75em;
  display: block;
  cursor: text;
}

.input {
  composes: legacy_textarea textarea from '../../globals/reset.css';
  color: var(--color-black);
  display: block;
  padding: 0.5em;
  border: none;
  width: 100%;
}

.input:focus {
  border-color: var(--color-selection);
  outline: 0;
}

.message {
  background: var(--color-error);
  border-radius: 0 0 4px 4px;
  transition: all 200ms ease;
  padding-right: 0.5em;
  text-align: left;
  color: white;
  width: 100%;
  opacity: 0;
  left: 0;
}

.active {}

.focus {
  box-shadow: inset 0 0 0 1px var(--color-selection), 0 0 2px color(var(--color-selection) l(70%));
}

.error {
  box-shadow: inset 0 0 0 1px var(--color-error);
}
.error .label {
  color: var(--color-error);
}
.error .message {
  opacity: 1;
}

/* Default label outside variant */
.labelOutside {
  margin-top: 1.5em;
}
.labelOutside .label {
  transition: all 250ms var(--easeoutback);
  transform-origin: left bottom;
  position: absolute;
  top: -0.25em;
  left: 0;
}
.labelOutside .message {
  padding: 0 0.5em;
}
.focus.labelOutside .label,
.active.labelOutside .label {
  transform: scale(0.8) translate(-13px, -48px);
  color: var(--color-grey-light);
}
.focus.labelOutside .label {
  color: var(--color-blue-darker);
}

/* Label inside variant */
.labelInside {
  border-radius: 0;
}
.labelInside .wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.labelInside .label {
  color: var(--color-blue-darker);
  vertical-align: middle;
  display: table-cell;
  padding: 0.5em;
  width: 5.5em;
}
.labelInside input {
  vertical-align: middle;
  display: table-cell;
  padding-right: 0;
  padding-left: 0;
}
.labelInside.error {
  padding-bottom: 0.5em;
}
.labelInside .message {
  color: var(--color-error);
  background: transparent;
  border-radius: 0;
  padding-left: 0.5rem;
  opacity: 0;
}
.error.labelInside .message {
  opacity: 1;
}

/* Borderless */
.borderless {
  box-shadow: none;
  transition: all 300ms ease;
  border: 1px solid transparent;
}
.borderless.focus.labelInside {
  border-bottom-color: var(--color-selection);
}
.borderless.focus.labelInside .label {
  color: var(--color-selection);
}
