doctype html
html

  head
    title Loggins: Pact's Component Library
    link(rel="stylesheet" type="text/css" href="style.css")

  body
    #outlet
      != html

    for chunk in assets
      script(src=assets[chunk])
