.container {
  font: 1em/1.5 "Helvetica Neue", sans-serif;
  max-width: 55em;
  margin: 1em auto 5em;
  background: white;
  color: #333;
}

.heading {
  font-size: 3rem;
}

.section {
}

.title {
  font-size: 2em;
}
