@import './FontPack/brandon.css';
@import './FontPack/lunchboxslab.css';

.container {
  margin: 0 auto;
  max-width: 55em;
}

.heading {
  font-family: var(--font-lunchbox);
  text-align: center;
  font-size: 6em;
  font-weight: 100;
  margin: 0 0 1rem;
}

.section {
  position: relative;
}

.title {
  font-size: 2em;
  border-bottom: 1px solid var(--color-grey-lighter);
}

.sectionLink {
  right: 0;
  top: 2em;
  font-size: 40%;
  margin-left: 0.5em;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-grey-lighter);
}
.sectionLink:hover {
  color: var(--color-grey);
}

.swatch {
  width: 6em;
  height: 4em;
  margin: 0.25em;
  position: relative;
  border-radius: 4px;
  display: inline-block;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
}
.swatch span {
  width: 100%;
  top: 1.65rem;
  color: white;
  height: 1.5em;
  display: block;
  font-size: 0.7em;
  position: absolute;
  line-height: 1.6em;
  text-align: center;
  background: rgba(0,0,0,0.2);
}

.green {
  background: var(--color-green);
}
.red {
  background: var(--color-red);
}
.orange {
  background: var(--color-orange);
}
.grey {
  background: var(--color-grey);
}
.greyLight {
  background: var(--color-grey-lighter);
}
.brown {
  background: var(--color-brown);
}
.brownDark {
  background: var(--color-brown-dark);
}
.white {
  background: var(--color-white);
}
.whiteDark {
  background: var(--color-white-dark);
}

.lost {
  text-align: center;
  margin-bottom: 1em;
  lost-utility: clearfix;
  color: var(--color-white);
}

.lost div {
  height: 4em;
  margin-top: 1em;
  line-height: 4em;
  margin-bottom: 1em;
  background: rgba(255,255,255,0.2);
}

.grid {
  lost-utility: clearfix;
}

.quarter {
  lost-column: 1/4 0;
}

.third {
  lost-column: 1/3 0;
}

.half {
  lost-column: 1/2 0;
}

.threequarter {
  lost-column: 3/4 0;
}

