.root {
  /*position: relative;*/
  /*width: 100%;*/
}

:global .DayPicker {
  /*width: 100%;*/
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0.75em;
  display: inline-block;
  border-radius: 4px;
}

:global .DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  /*width: 100%;*/
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 1rem;
}

:global .DayPicker-NavBar {
  position: absolute;
  left: 0;
  width: 100%;
}

:global .DayPicker-NavButton {
  position: absolute;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

:global .DayPicker-NavButton--prev {
  left: 1rem;
}

:global .DayPicker-NavButton--next {
  right: 1rem;
}


:global .DayPicker-Caption {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  border-bottom: 2px solid color(#FFF a(30%));
  padding-bottom: 0.25em;
}

:global .DayPicker-Weekdays {
  display: table-header-group;
}
:global .DayPicker-Weekdays > div {
  display: table;
  width: 100%;
  font-weight: bold;
}

:global .DayPicker-Weekday {
  display: table-cell;
  text-align: center;
  padding: 0.5rem;
  text-align: center;
}

:global .DayPicker-Body {
  display: table;
  width: 100%;
}

:global .DayPicker-Week {
  display: table-row;
}

:global .DayPicker-Day {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  cursor: pointer;
  padding: 0.5em;
  font-size: 1.5rem;
}
:global .DayPicker-Day:hover {

}

:global .DayPicker--interactionDisabled :global .DayPicker-Day {
}

:global .DayPicker-Day--disabled,
:global .DayPicker-Day--disabled:hover {
  cursor: default;
  opacity: 0.5;
  background: transparent;
}

:global .DayPicker-Day--today {
  position: relative;
  font-weight: bolder;
}
:global .DayPicker-Day--today:after {
  content: '';
  position: absolute;
  top: 0.3em;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.2em;
  background: var(--color-white);
  border-radius: 100%;
  height: 0.25em;
  width: 0.25em;
  opacity: 0.7;
}


:global .DayPicker-Day--selected,
:global .DayPicker-Day--selected:hover {
  color: var(--color-primary);
  position: relative;
}
:global .DayPicker-Day--selected span {
  position: relative;
}
:global .DayPicker-Day--selected:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  line-height: 0;
  background: var(--color-white);
  border-radius: 500em;
}

:global .DayPicker-Day--outside,
:global .DayPicker-Day--outside:hover {
  opacity: 0.5;
}

:global .DayPicker-Day--selected:not(:global .DayPicker-Day--disabled):not(:global .DayPicker-Day--outside) {
}
