.root {
  display: block;
  text-align: center;
  position: relative;
  line-height: 1em;
  color: var(--color-grey-light);
  margin: 3em 0;
}

.root:before, .root:after {
  width: 35%;
  top: 50%;
  top: calc(50% - 1px);
  content: '';
  display: block;
  height: 0.05em;
  position: absolute;
  background: var(--color-grey-lighter);
}
.root:after {
  left: 65%
}

.inner {
  display: inline-block;
  max-width: 29%;
}
