.fieldset {
  border: inherit;
  margin: inherit;
  padding: inherit;
}
.legend {
  font-family: var(--font-brandon);
  font-size: var(--font-small);
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}
.panel {
  padding: 0.5em 1em;
}

.field {
  border-bottom: 1px solid var(--color-white-dark);
}
.field:last-child {
  border: none;
}
