:root {
  --baseRadioSize: 1em;
}

.group {
  position: relative;
}
.child {
  position: relative;
}

/* Radio */
.radio {
  opacity: 0;
  position: absolute;
  top: 0.15em;
  left: 0;
  width: var(--baseRadioSize);
  height: var(--baseRadioSize);
}

.radioLabel {
  display: inline-block;
  position: relative;
  padding-left: calc(var(--baseRadioSize) + 0.5em);
  cursor: pointer;
  transition: all 200ms var(--easeinoutback);
  user-select: none;
}
.radioLabel:hover {
  color: var(--color-primary);
}
.radioLabel:hover:before {
  border-color: var(--color-primary);
}

/* Outer ring */
.radioLabel:before {
  position: absolute;
  left: 0;
  top: 0.15em;
  content: '';
  display: inline-block;
  width: var(--baseRadioSize);
  height: var(--baseRadioSize);
  border-radius: 500rem;
  background: var(--color-offwhite);
  border: 1px solid var(--color-grey-lightest);
  transition: all 200ms var(--easeinoutback);
  line-height: 0;
}

/* Inner circle */
.radioLabel:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.15em;
  border: 1px solid var(--color-primary);
  display: inline-block;
  width: var(--baseRadioSize);
  height: var(--baseRadioSize);
  border-radius: 500rem;
  background: var(--color-primary);
  transition: all 200ms var(--easeinoutback);
  transform: scale(0);
  opacity: 0;
}

.radio:checked + .radioLabel:before {
  border-color: var(--color-primary);
}
.radio:checked + .radioLabel:after {
  transform: scale(0.75);
  opacity: 1;
}

/* Tabbed variant */
.tabs {
  text-align: center;
}

.tabs .child {
  display: table-cell;
}

.tab {
  display: none;
}

.tabLabel {
  cursor: pointer;
  display: block;
  text-align: center;
  color: var(--color-grey-light);
  margin: 0.75em;
}
.tabLabel:hover {
  background: color(var(--color-primary) l(97%));
}
.tabLabel:active {
  background: color(var(--color-primary) l(90%));
}

.tabIcon {
  display: block;
  margin: 0 auto;
  font-size: 3.5em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--color-grey-light);
}

.tab:checked + .tabLabel {
  color: var(--color-primary);
}
.tab:checked + .tabLabel .tabIcon {
  box-shadow: none;
  color: var(--color-white);
  background: var(--color-primary);
}
