:root {
  --baseRadioSize: 1em;
}

.group {
  position: relative;
}
.child {
  position: relative;
}

/* Radio */
.radio {
  opacity: 0;
  position: absolute;
  top: 0.15em;
  left: 0;
  width: var(--baseRadioSize);
  height: var(--baseRadioSize);
}

.radioLabel {
  cursor: pointer;
  user-select: none;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  transition: all 200ms var(--easeinoutback);
  padding-left: calc(var(--baseRadioSize) + 0.5em);
}
.radioLabel:hover {
  color: var(--color-primary);
}
.radioLabel:hover:before {
  border-color: var(--color-primary);
}

/* Outer ring */
.radioLabel:before {
  position: absolute;
  left: 0;
  top: 0.15em;
  content: '';
  display: inline-block;
  width: var(--baseRadioSize);
  height: var(--baseRadioSize);
  border-radius: 500rem;
  background: var(--color-offwhite);
  border: 1px solid var(--color-grey-lightest);
  transition: all 200ms var(--easeinoutback);
  line-height: 0;
}

/* Inner circle */
.radioLabel:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.15em;
  border: 1px solid var(--color-primary);
  display: inline-block;
  width: var(--baseRadioSize);
  height: var(--baseRadioSize);
  border-radius: 500rem;
  background: var(--color-primary);
  transition: all 200ms var(--easeinoutback);
  transform: scale(0);
  opacity: 0;
}

.radio:checked + .radioLabel:before {
  border-color: var(--color-primary);
}
.radio:checked + .radioLabel:after {
  transform: scale(0.75);
  opacity: 1;
}

/* Giant variant */
.giant {
  display: table;
  width: 100%;
  text-align: center;
}
.giant .radio {
  display: none;
}
.giant .child {
  display: table-cell;
  text-align: center;
  margin: 0 0.5em;
  width: 1%;
}
.giant .radioLabel {
  color: var(--color-grey-light);
  transition: none;
  display: block;
  padding: 0;
}
.giant .radioLabel:before,
.giant .radioLabel:after {
  display: none;
}
.giant .iconOuter {
  display: block;
}
.giant .iconInner {
  box-shadow: inset 0 0 0 2px var(--color-grey-light);
  margin: 0 auto 0.5em;
  border-radius: 50%;
  padding: 0.75em;
  display: inline-block;
}
.giant .icon {
  font-size: 3em;
}

.giant .radio:checked + .radioLabel {
  color: var(--color-primary);
}
.giant .radio:checked + .radioLabel .iconInner {
  background: var(--color-primary);
  color: var(--color-white);
  box-shadow: none;
}
