:root {
  --baseRadioSize: 1em;
}

.group {
  position: relative;
}
.radio {
  position: relative;
}

/* Radio */
.radio input {
  opacity: 0;
  position: absolute;
  top: 0.15em;
  left: 0;
  width: var(--baseRadioSize);
  height: var(--baseRadioSize);
}

.radio label {
  cursor: pointer;
  user-select: none;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  transition: all 200ms var(--easeinoutback);
  padding-left: calc(var(--baseRadioSize) + 0.5em);
}
.radio label:hover {
  color: var(--color-primary);
}
.radio label:hover:before {
  border-color: var(--color-primary);
}

/* Outer ring */
.radio label:before {
  position: absolute;
  left: 0;
  top: 0.15em;
  content: '';
  display: inline-block;
  width: var(--baseRadioSize);
  height: var(--baseRadioSize);
  border-radius: 500rem;
  background: var(--color-offwhite);
  border: 1px solid var(--color-grey-lightest);
  transition: all 200ms var(--easeinoutback);
  line-height: 0;
}

/* Inner circle */
.radio label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.15em;
  border: 1px solid var(--color-primary);
  display: inline-block;
  width: var(--baseRadioSize);
  height: var(--baseRadioSize);
  border-radius: 500rem;
  background: var(--color-primary);
  transition: all 200ms var(--easeinoutback);
  transform: scale(0);
  opacity: 0;
}

.radio input:checked + label:before {
  border-color: var(--color-primary);
}
.radio input:checked + label:after {
  transform: scale(0.75);
  opacity: 1;
}
