:root {
  --color-white:      rgb(255,255,255);
  --color-white-dark: rgb(250,250,250);
  --color-green:      rgb(41,174,155);
  --color-red:        rgb(252,99,99);
  --color-orange:     rgb(255,148,28);
  --color-grey:       rgb(99,99,99);
  --color-grey-light: rgb(197,197,197);
  --color-brown:      rgb(156,120,102);
  --color-brown-dark: rgb(96,79,76);

  --color-primary: var(--color-green);
  --color-secondary: var(--color-orange);
  --color-error: var(--color-red);
  --color-alert: var(--color-orange);
  --color-text: var(--color-grey);
  --color-muted: var(--color-grey-light);
}

.fg-primary {
  color: var(--color-primary);
}
.fg-secondary {
  color: var(--color-secondary);
}
.fg-error {
  color: var(--color-error);
}
.fg-alert {
  color: var(--color-alert);
}
.fg-text {
  color: var(--color-text);
}
.fg-muted {
  color: var(--color-muted);
}

.bg-primary {
  background: var(--color-primary);
}
.bg-secondary {
  background: var(--color-secondary);
}
.bg-error {
  background: var(--color-error);
}
.bg-alert {
  background: var(--color-alert);
}
.bg-text {
  background: var(--color-text);
}
.bg-muted {
  background: var(--color-muted);
}
