:root {
  --size-small: 0.5rem;
  --size-medium: 1rem;
  --size-large: 1.5rem;
}

/* Display */
.di {display:  inline;}
.dib {display: inline-block;}
.db {display:  block;}

/* Padding */
.pts {padding-top:    var(--size-small);}
.ptm {padding-top:    var(--size-medium);}
.ptl {padding-top:    var(--size-large);}
.pls {padding-left:   var(--size-small);}
.plm {padding-left:   var(--size-medium);}
.pll {padding-left:   var(--size-large);}
.pbs {padding-bottom: var(--size-small);}
.pbm {padding-bottom: var(--size-medium);}
.pbl {padding-bottom: var(--size-large);}
.prs {padding-right:  var(--size-small);}
.prm {padding-right:  var(--size-medium);}
.prl {padding-right:  var(--size-large);}
.pas {padding:        var(--size-small);}
.pam {padding:        var(--size-medium);}
.pal {padding:        var(--size-large);}

/* Margin */
.mt0 {margin-top: 0;}
.mts {margin-top:    var(--size-small);}
.mtm {margin-top:    var(--size-medium);}
.mtl {margin-top:    var(--size-large);}
.ml0 {margin-left: 0;}
.mls {margin-left:   var(--size-small);}
.mlm {margin-left:   var(--size-medium);}
.mll {margin-left:   var(--size-large);}
.mb0 {margin-bottom: 0;}
.mbs {margin-bottom: var(--size-small);}
.mbm {margin-bottom: var(--size-medium);}
.mbl {margin-bottom: var(--size-large);}
.mr0 {margin-right: 0;}
.mrs {margin-right:  var(--size-small);}
.mrm {margin-right:  var(--size-medium);}
.mrl {margin-right:  var(--size-large);}
.m0  {margin: 0;}
.mas {margin:        var(--size-small);}
.mam {margin:        var(--size-medium);}
.mal {margin:        var(--size-large);}

/* Foreground coloured-in */
.fgPrimary {  color: var(--color-primary);}
.fgSecondary {color: var(--color-secondary);}
.fgError {    color: var(--color-error);}
.fgAlert {    color: var(--color-alert);}
.fgText {     color: var(--color-text);}
.fgMuted {    color: var(--color-muted);}

/* Background coloured-in */
.bgPrimary {  background: var(--color-primary);}
.bgSecondary {background: var(--color-secondary);}
.bgError {    background: var(--color-error);}
.bgAlert {    background: var(--color-alert);}
.bgText {     background: var(--color-text);}
.bgMuted {    background: var(--color-muted);}

/* Text align */
.alignc {text-align: center;}
.alignl {text-align: left;}
.alignr {text-align: right;}

/* Transforms */
.rotate180 {transform: rotate(180deg);}

/* Font size */
.medium {font-size: 1em;          }
.large { font-size: 1.277777778em;}
.larger {font-size: 2.944444444em;}

/* Font styles */
.bold { font-weight: bold;}
.light {font-weight: lighter;}
.italic {font-style: italic;}
