:root {
  --size-small:  0.5rem;
  --size-medium: 1rem;
  --size-large:  1.5rem;
  --size-larger: 2rem;

  --radius-medium: 8px;
}

/* Display */
.di {display:  inline !important;}
.dib {display: inline-block !important;}
.db {display:  block !important;}

/* Padding */
.pts {padding-top:    var(--size-small) !important;}
.ptm {padding-top:    var(--size-medium) !important;}
.ptl {padding-top:    var(--size-large) !important;}
.pls {padding-left:   var(--size-small) !important;}
.plm {padding-left:   var(--size-medium) !important;}
.pll {padding-left:   var(--size-large) !important;}
.pbs {padding-bottom: var(--size-small) !important;}
.pbm {padding-bottom: var(--size-medium) !important;}
.pbl {padding-bottom: var(--size-large) !important;}
.prs {padding-right:  var(--size-small) !important;}
.prm {padding-right:  var(--size-medium) !important;}
.prl {padding-right:  var(--size-large) !important;}
.pas {padding:        var(--size-small) !important;}
.pam {padding:        var(--size-medium) !important;}
.pal {padding:        var(--size-large) !important;}

/* Margin */
.mt0 {margin-top:    0 !important;}
.mts {margin-top:    var(--size-small) !important;}
.mtm {margin-top:    var(--size-medium) !important;}
.mtl {margin-top:    var(--size-large) !important;}
.ml0 {margin-left:   0 !important;}
.mls {margin-left:   var(--size-small) !important;}
.mlm {margin-left:   var(--size-medium) !important;}
.mll {margin-left:   var(--size-large) !important;}
.mb0 {margin-bottom: 0 !important;}
.mbs {margin-bottom: var(--size-small) !important;}
.mbm {margin-bottom: var(--size-medium) !important;}
.mbl {margin-bottom: var(--size-large) !important;}
.mr0 {margin-right:  0 !important;}
.mrs {margin-right:  var(--size-small) !important;}
.mrm {margin-right:  var(--size-medium) !important;}
.mrl {margin-right:  var(--size-large) !important;}
.m0  {margin:        0 !important;}
.mas {margin:        var(--size-small) !important;}
.mam {margin:        var(--size-medium) !important;}
.mal {margin:        var(--size-large) !important;}

/* Foreground coloured-in */
.fgPrimary {  color: var(--color-primary) !important;}
.fgSecondary {color: var(--color-secondary) !important;}
.fgError {    color: var(--color-error) !important;}
.fgAlert {    color: var(--color-alert) !important;}
.fgText {     color: var(--color-text) !important;}
.fgMuted {    color: var(--color-muted) !important;}

/* Background coloured-in */
.bgPrimary {  background: var(--color-primary) !important;}
.bgSecondary {background: var(--color-secondary) !important;}
.bgError {    background: var(--color-error) !important;}
.bgAlert {    background: var(--color-alert) !important;}
.bgText {     background: var(--color-text) !important;}
.bgMuted {    background: var(--color-muted) !important;}

/* Text align */
.alignc {text-align: center !important;}
.alignl {text-align: left !important;}
.alignr {text-align: right !important;}

/* Transforms */
.rotate90 {transform:  rotate(90deg) !important;}
.rotate180 {transform: rotate(180deg) !important;}
.rotate270 {transform: rotate(270deg) !important;}

/* Font size */
.smaller {font-size: 0.5em;        }
.small {font-size:   0.8em;        }
.medium {font-size:  1em;          }
.large { font-size:  1.277777778em !important;}
.larger {font-size:  2.944444444em !important;}

/* Font styles */
.bold { font-weight: bold !important;}
.light {font-weight: lighter !important;}
.italic {font-style: italic !important;}

/* Box shadow */
.bs {box-shadow: 1px 1px 3px rgba(0,0,0,0.15)}

/* Border radius */
.br0 {border-radius: 0px;}
.br {border-radius:  8px;}
.brs {border-radius: 4px;}

/* Grid helpers */
.cf {lost-utility: clearfix !important;}
