:root {
  --size-xsmall: 0.25rem;
  --size-small:  0.5rem;
  --size-medium: 1rem;
  --size-base:   1.125rem;
  --size-large:  1.5rem;
  --size-larger: 2rem;

  --font-smaller: 0.5rem;
  --font-small:   0.8rem;
  --font-medium:  1rem;
  --font-large:   1.3rem;
  --font-larger:  2rem;
  --font-largest: 2.9rem;

  --radius-medium: 8px;

  --shadow: 1px 1px 3px rgba(0,0,0,0.15);
  --shadow-heavy: 0px 2px 6px rgba(0,0,0,0.46);
}

/* Display */
.di { display: inline;}
.dib {display: inline-block;}
.db { display: block;}
.dt { display: table;}
.dtc {display: table-cell;}

/* Floats */
.cf {lost-utility: clearfix;}
.fl {float: left;}
.fr {float: right;}

/* Position */
.pr {position: relative;}
.pa {position: absolute;}
.pf {position: fixed;}
.ps {position: static;}

/* Padding */
.pt0 { padding-top:    0;}
.ptxs {padding-top:    var(--size-xsmall);}
.pts { padding-top:    var(--size-small);}
.ptm { padding-top:    var(--size-medium);}
.ptl { padding-top:    var(--size-large);}
.ptxl { padding-top:   var(--size-larger);}
.pl0 { padding-left:   0;}
.plxs {padding-left:   var(--size-xsmall);}
.pls { padding-left:   var(--size-small);}
.plm { padding-left:   var(--size-medium);}
.pll { padding-left:   var(--size-large);}
.plxl { padding-left:  var(--size-larger);}
.pb0 { padding-bottom: 0;}
.pbxs {padding-bottom: var(--size-xsmall);}
.pbs { padding-bottom: var(--size-small);}
.pbm { padding-bottom: var(--size-medium);}
.pbl { padding-bottom: var(--size-large);}
.pbxl { padding-bottom:var(--size-larger);}
.pr0 { padding-right:  0;}
.prxs {padding-right:  var(--size-xsmall);}
.prs { padding-right:  var(--size-small);}
.prm { padding-right:  var(--size-medium);}
.prl { padding-right:  var(--size-large);}
.prxl { padding-right: var(--size-larger);}
.p0  { padding:        0;}
.paxs {padding:        var(--size-xsmall);}
.pas { padding:        var(--size-small);}
.pam { padding:        var(--size-medium);}
.pal { padding:        var(--size-large);}
.paxl { padding:       var(--size-larger);}

/* Margin */
.mt0 { margin-top:    0;}
.mtxs {margin-top:    var(--size-xsmall);}
.mts { margin-top:    var(--size-small);}
.mtm { margin-top:    var(--size-medium);}
.mtl { margin-top:    var(--size-large);}
.mtxl { margin-top:   var(--size-larger);}
.ml0 { margin-left:   0;}
.mlxs {margin-left:   var(--size-xsmall);}
.mls { margin-left:   var(--size-small);}
.mlm { margin-left:   var(--size-medium);}
.mll { margin-left:   var(--size-large);}
.mlxl { margin-left:  var(--size-larger);}
.mb0 { margin-bottom: 0;}
.mbxs {margin-bottom: var(--size-xsmall);}
.mbs { margin-bottom: var(--size-small);}
.mbm { margin-bottom: var(--size-medium);}
.mbl { margin-bottom: var(--size-large);}
.mbxl { margin-bottom:var(--size-larger);}
.mr0 { margin-right:  0;}
.mrxs {margin-right:  var(--size-xsmall);}
.mrs { margin-right:  var(--size-small);}
.mrm { margin-right:  var(--size-medium);}
.mrl { margin-right:  var(--size-large);}
.mrxl { margin-right: var(--size-larger);}
.m0  { margin:        0;}
.maxs {margin:        var(--size-xsmall);}
.mas { margin:        var(--size-small);}
.mam { margin:        var(--size-medium);}
.mal { margin:        var(--size-large);}
.maxl { margin:       var(--size-larger);}

/* Foreground coloured-in */
.fgPrimary {  color: var(--color-primary);}
.fgSecondary {color: var(--color-secondary);}
.fgError {    color: var(--color-error);}
.fgAlert {    color: var(--color-alert);}
.fgText {     color: var(--color-text);}
.fgTextLight {color: var(--color-text-light);}
.fgMuted {    color: var(--color-muted);}

/* Background coloured-in */
.bgWhite {    background: var(--color-white);}
.bgPrimary {  background: var(--color-primary);}
.bgSecondary {background: var(--color-secondary);}
.bgError {    background: var(--color-error);}
.bgAlert {    background: var(--color-alert);}
.bgText {     background: var(--color-text);}
.bgTextLight {background: var(--color-text-light);}
.bgMuted {    background: var(--color-muted);}

/* Text align */
.alignc {text-align: center;}
.alignl {text-align: left;}
.alignr {text-align: right;}

/* Vertical align */
.vat {vertical-align: top;}
.vam {vertical-align: middle;}
.vab {vertical-align: bottom;}

/* Transforms */
.rotate90 { transform: rotate(90deg);}
.rotate180 {transform: rotate(180deg);}
.rotate270 {transform: rotate(270deg);}

/* Font size */
.smaller {font-size: var(--font-smaller);}
.small {  font-size: var(--font-small);}
.medium { font-size: var(--font-medium);}
.large {  font-size: var(--font-large);}
.larger { font-size: var(--font-larger);}
.largest {font-size: var(--font-largest);}

/* Font styles */
.bold {font-weight: bold;}
.light {font-weight: lighter;}
.italic {font-style: italic;}
.strike {text-decoration: line-through;}
.code {font-family: monospace;}

/* Text styles */
.upcase {text-transform: uppercase;}

/* Box shadow */
.bs {box-shadow: var(--shadow)}

/* Border radius */
.br0 {border-radius: 0px;}
.br { border-radius: 8px;}
.brs {border-radius: 4px;}

/* Grid helpers */
.cf {lost-utility: clearfix;}

/* Widths */
.w1 {  width: 1%;}
.w100 {width: 100%;}

/* Heights */
.ha {  height: auto;}
.h100 {height: 100%;}

/* Overflow */
.oh {overflow: hidden;}
.ov {overflow: visible;}

/* Pointer events */
.pointera {pointer-events: auto;}
.pointern {pointer-events: none;}
