:root {
  --font-brandon: 'Brandon Grotesque';
  --font-lunchbox: 'Lunchbox Slab';
}

.heading {
  font-family: var(--font-lunchbox);
}

.primary {
  extends: heading;
  font-weight: light;
  font-size: 2em;
}

.hero {
  extends: heading;
  text-transform: uppercase;
  font-size: 2.944444444em;
  font-weight: bold;
}

.sub {
  extends: heading;
  text-transform: uppercase;
  font-size: 1.277777778em;
  font-weight: bold;
}

.title {
  font-family: var(--font-brandon);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}
