/*
 * @font-face declarations are not included by default. This is on purpose.
 *
 * You may want to load your fonts in async using JS, or base64-inline the fonts
 * inside another CSS file — or both.
 * By not including fonts as default, it keeps your options open for your
 * projects.
 */
:root {
  --font-brandon: 'BrandonGrotesque', brandon-grotesque, "Brandon Grotesque", Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-lunchbox: 'LunchboxSlab', 'lunchbox', 'Lunchbox Slab';
}


.heading {
  font-family: var(--font-lunchbox);
}

.primary {
  composes: heading;
  font-weight: light;
  font-size: 2em;
}

.hero {
  composes: heading;
  text-transform: uppercase;
  font-size: 2.944444444em;
  font-weight: normal;
}

.sub {
  composes: heading;
  text-transform: uppercase;
  font-size: 1.277777778em;
  font-weight: bold;
}

.title {
  font-family: var(--font-brandon);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}
