:root {
  --font-brandon: 'Brandon Grotesque';
  --font-lunchbox: 'Lunchbox Slab';
}

:global .heading {
  font-family: var(--font-lunchbox);
}

:global .heading--primary {
  font-weight: light;
  font-size: 2em;
}

:global .heading--hero {
  text-transform: uppercase;
  font-size: 2.944444444em;
  font-weight: bold;
}

:global .heading--sub {
  text-transform: uppercase;
  font-size: 1.277777778em;
  font-weight: bold;
}

:global .title {
  font-family: var(--font-brandon);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}
