.slider {
  height: 0.75em;
}

.handle {
  position: relative;
  width: 24px;
  height: 24px;
  line-height: 0;
  border-radius: 50%;
  cursor: pointer;
  background: var(--color-white);
  border: 1px solid var(--color-grey-lighter);
  transform: translateY(-25%);
  composes: bs from '../../globals/modifiers.css';
  transition: transform 200ms var(--easeoutback);
}
.handle:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-left: 1px solid var(--color-grey-lighter);
  border-right: 1px solid var(--color-grey-lighter);
  height: 11px;
  width: 3px;
}
.activeHandle {
  transform: translateY(-25%) scale(1.2);
}

/* Globals as the classnames are appended with a number */
:global .SliderBar {
  height: 50%;
  position: relative;
  top: 25%;
  border-radius: 2em;
}
:global .SliderBar-0 {
  background: var(--color-primary);
}
:global .SliderBar-1 {
  background: var(--color-grey-lightest);
}

.tickContainer {
  padding: 0 0.5em;
  height: 1em;
  width: 100%;
}
.ticks {
  position: relative;
  display: block;
  width: 100%;
}
.tick {
  position: absolute;
  font-size: 70%;
  color: var(--color-muted);
  width: 1.5em;
  margin-left: -0.75em;
  text-align: center;
}
