.root {
  position: relative;
}

.input {
  extends: textarea legacy_textarea from '../../globals/reset.css';
  border: 1px dashed color(var(--color-white) lightness(-20%));
  color: color(var(--color-white) lightness(-50%));
  word-wrap: break-word;
  border-radius: 4px;
  text-align: center;
  font-style: italic;
  margin-bottom: 0;
  padding: 0.75em 0;
  font-size: 1em;
  margin: 0 auto;
  line-height: 1;
  resize: none;
}

.fake {
  display: inline-block;
  min-height: inherit;
  position: absolute;
  visibility: hidden;
  max-width: 100%;
  width: auto;
  left: 0;
  padding: 0.75em;
}
