.root {
  font-family: var(--font-brandon);
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  color: white;
  background: #999;
}

.primary {
  background: var(--color-primary);
}

.secondary {
  background: var(--color-secondary);
}

.warning {
  background: var(--color-error);
}
