.root {
  display: inline-block;
  font-family: var(--font-brandon);
  font-size: 1em;
  font-weight: 400;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.9);
  background: var(--color-text);
  appearance: none;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
.root:hover {
  background: color(rgb(120,120,120) l(+ 1%));
}
.root:active {
  background: color(rgb(120,120,120) l(- 5%));
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
.root:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Types */
.primary {
  background: var(--color-primary);
}
.primary:hover {
  background: color(var(--color-primary) l(+ 2%));
}
.primary:active {
  background: color(var(--color-primary) l(- 2%));
}

.secondary {
  background: var(--color-secondary);
}
.secondary:hover {
  background: color(var(--color-secondary) l(+ 5%));
}
.secondary:active {
  background: color(var(--color-secondary) l(- 5%));
}

.danger {
  background: var(--color-error);
}
.danger:hover {
  background: color(var(--color-error) l(+ 5%));
}
.danger:active {
  background: color(var(--color-error) l(- 5%));
}

.white {
  background: var(--color-white);
  color: var(--color-text);
}
.white:hover {
  background: color(var(--color-white) a(10%));
}
.white:active {
  background: color(var(--color-white) a(20%));
}

/* Variants */
.cta {
  font-family: var(--font-brandon);
  text-transform: uppercase;
  font-weight: 600;
  padding: 1em;
}

.hollow {
  background: transparent;
  box-shadow: inset 0 0 0 0.1em var(--color-text);
  color: var(--color-text);
}
.hollow:hover {
  background: var(--color-text);
  color: var(--color-white);
}
.hollow:active {
  background: color(var(--color-text) l(- 5%));
}

.primary.hollow {
  box-shadow: inset 0 0 0 0.1em var(--color-primary);
  color: var(--color-primary);
}
.primary.hollow:hover {
  background: color(var(--color-primary) a(20%));
}
.primary.hollow:active {
  background: color(var(--color-primary) l(- 5%));
}

.secondary.hollow {
  box-shadow: inset 0 0 0 0.1em var(--color-secondary);
  color: var(--color-secondary);
}
.secondary.hollow:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}
.secondary.hollow:active {
  background: color(var(--color-secondary) l(- 5%));
}

.clean {
  background: transparent;
  border-color: transparent;
  color: var(--color-text);
}
.clean:hover {
  background: transparent;
  color: color(var(--color-text) w(+ 50%));
}
.clean:active {
  background: transparent;
  color: color(var(--color-text) a(70%));
}
.clean.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.primary.clean {
  color: var(--color-primary);
}
.primary.clean:hover {
  color: color(var(--color-primary) l(- 10%));
}
.primary.clean:active {
  color: color(var(--color-primary) a(70%));
}

.danger.clean {
  color: var(--color-error);
}
.danger.clean:hover {
  color: color(var(--color-error) l(- 10%));
}
.danger.clean:active {
  color: color(var(--color-error) a(70%));
}

.white.hollow {
  box-shadow: inset 0 0 0 0.12em var(--color-white);
  color: var(--color-white);
}
.white.hollow:hover {
  background: var(--color-white);
  color: var(--color-white);
}
.white.hollow:active {
  background: color(var(--color-white) l(- 5%));
}

.fullWidth {
  width: 100%;
  text-align: center;
}
