.root {
  display: inline-block;
  font-family: var(--font-brandon);
  font-size: 1em;
  font-weight: 400;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.9);
  background: var(--color-action);
  appearance: none;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
.root:hover {
  background: color(var(--color-action) l(+ 1%));
}
.root:active {
  background: color(var(--color-action) l(- 5%));
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
.root:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Types */
.primary {
  background: var(--color-primary);
}
.primary:hover {
  background: color(var(--color-primary) l(+ 2%));
}
.primary:active {
  background: color(var(--color-primary) l(- 2%));
}

.secondary {
  background: var(--color-secondary);
}
.secondary:hover {
  background: color(var(--color-secondary) l(+ 5%));
}
.secondary:active {
  background: color(var(--color-secondary) l(- 5%));
}

.danger {
  background: var(--color-error);
}
.danger:hover {
  background: color(var(--color-error) l(+ 5%));
}
.danger:active {
  background: color(var(--color-error) l(- 5%));
}

/* Variants */
.hollow {
  background: transparent;
  box-shadow: inset 0 0 0 0.1em var(--color-action);
  color: var(--color-action);
}
.hollow:hover {
  background: var(--color-action);
  color: var(--color-white);
}
.hollow:active {
  background: color(var(--color-action) l(- 5%));
}

.primary.hollow {
  box-shadow: inset 0 0 0 0.1em var(--color-primary);
  color: var(--color-primary);
}
.primary.hollow:hover {
  background: color(var(--color-primary) a(20%));
}
.primary.hollow:active {
  background: color(var(--color-primary) l(- 5%));
}

.secondary.hollow {
  box-shadow: inset 0 0 0 0.1em var(--color-secondary);
  color: var(--color-secondary);
}
.secondary.hollow:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}
.secondary.hollow:active {
  background: color(var(--color-secondary) l(- 5%));
}

.white.hollow {
  box-shadow: inset 0 0 0 0.1em var(--color-white);
  color: var(--color-white);
}
.white.hollow:hover {
  box-shadow: inset 0 0 0 0.1em var(--color-white);
  background: color(var(--color-white) a(50%));
  color: var(--color-white);
}
.white.hollow:active {
  box-shadow: inset 0 0 0 0.1em var(--color-white);
  background: color(var(--color-white) a(70%));
}

.clean {
  background: transparent;
  border-color: transparent;
  color: var(--color-action);
}
.clean:hover {
  background: transparent;
  color: color(var(--color-action) w(+ 50%));
}
.clean:active {
  background: transparent;
  color: color(var(--color-action) a(70%));
}
.clean.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.primary.clean {
  color: var(--color-primary);
}
.primary.clean:hover {
  color: color(var(--color-primary) l(- 10%));
}
.primary.clean:active {
  color: color(var(--color-primary) a(70%));
}

.danger.clean {
  color: var(--color-error);
}
.danger.clean:hover {
  color: color(var(--color-error) l(- 10%));
}
.danger.clean:active {
  color: color(var(--color-error) a(70%));
}

.white.clean {
  color: var(--color-white);
}
.white.clean:hover {
  color: color(var(--color-white) l(- 10%));
}
.white.clean:active {
  color: color(var(--color-white) a(70%));
}

/* Modifiers */
.fullWidth {
  width: 100%;
  text-align: center;
}

.cta {
  font-family: var(--font-brandon);
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 600;
}

/* Links */
.link {
  composes: root clean;
}
.primaryLink {
  composes: root clean primary;
}
.linkWhite {
  composes: root clean white;
}
