.root {
  padding: 1em;
  background: var(--color-white);
  composes: bs br from '../../globals/modifiers.css';
}

.squared {
  border-color: var(--color-grey-lightest);
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0;
  box-shadow: none;
}

.split {
  border-top: 1px solid var(--color-grey-lightest);
}

.success {
  background: color(var(--color-green) l(+ 5%));
  color: var(--color-white);
}

.error {
  background: color(var(--color-red) l(+ 5%));
  color: var(--color-white);
}

.info {
  background: color(var(--color-blue-dark) l(+ 5%));
  color: var(--color-white);
}
