:root {
  --baseLogoSize: 5em;

  --mediumLogoSize: calc(1.5 * var(--baseLogoSize));
  --largeLogoSize: calc(2 * var(--baseLogoSize));

  --horizontalRatio: 2.272727273;
  --verticalRatio: 0.756756757;
};
.root {
  display: inline-block;
}

.logo {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.vertical {
  background-image: url('!!url!svgo!./VerticalLogo.svg');
}
.horizontal {
  background-image: url('!!url!svgo!./HorizontalLogo.svg');
}

.vertical.small {
  height: var(--baseLogoSize);
  width: calc(var(--baseLogoSize) / var(--verticalRatio));
}
.vertical.medium {
  height: var(--mediumLogoSize);
  width: calc(var(--mediumLogoSize) / var(--verticalRatio));
}
.vertical.large {
  height: var(--largeLogoSize);
  width: calc(var(--largeLogoSize) / var(--verticalRatio));
}

.horizontal.small {
  width: var(--baseLogoSize);
  height: calc(var(--baseLogoSize) / var(--horizontalRatio));
}
.horizontal.medium {
  width: var(--mediumLogoSize);
  height: calc(var(--mediumLogoSize) / var(--horizontalRatio));
}
.horizontal.large {
  width: var(--largeLogoSize);
  height: calc(var(--largeLogoSize) / var(--horizontalRatio));
}
