:root {
  --baseLogoSize: 4em;

  --mediumLogoSize: calc(2 * var(--baseLogoSize));
  --largeLogoSize: calc(3 * var(--baseLogoSize));

  --horizontalRatio: 2.083333333;
  --verticalRatio: 0.756756757;
};
.root {
  display: inline-block;
}
.root svg {
  max-width: 100%;
}

.vertical.small svg {
  height: var(--baseLogoSize);
  width: calc(var(--baseLogoSize) / var(--verticalRatio));
}
.vertical.medium svg {
  height: var(--mediumLogoSize);
  width: calc(var(--mediumLogoSize) / var(--verticalRatio));
}
.vertical.large svg {
  height: var(--largeLogoSize);
  width: calc(var(--largeLogoSize) / var(--verticalRatio));
}

.horizontal.small svg {
  width: var(--baseLogoSize);
  height: calc(var(--baseLogoSize) / var(--horizontalRatio));
}
.horizontal.medium svg {
  width: var(--mediumLogoSize);
  height: calc(var(--mediumLogoSize) / var(--horizontalRatio));
}
.horizontal.large svg {
  width: var(--largeLogoSize);
  height: calc(var(--largeLogoSize) / var(--horizontalRatio));
}
