.root {
  width: 100%;
  padding: 5em 0;
  position: relative;
  background-size: cover;
  color: var(--color-white);
  background-position: center center;
}
.cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.5);
  background: linear-gradient(to top, rgba(0,0,0,0.66), rgba(0,0,0,0.33));
}

.inner {
  position: relative;
}
.heading {
  text-shadow: 0 2px 5px rgba(0,0,0,0.5);
  font-family: var(--font-lunchbox);
  font-size: var(--font-larger);
  text-transform: uppercase;
  text-align: center;
  max-width: 16rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin: 0 auto;
}
.tagline {
  text-shadow: 0 1px 3px rgba(0,0,0,0.8);
  font-size: var(--font-large);
  font-weight: normal;
  font-style: italic;
  text-align: center;
  max-width: 18rem;
  margin: 1.5em auto 1em;
}
.body {
  text-align: center;
  max-width: 15rem;
  margin: 0 auto;
}
